h2 {
    font-size: 42px;
}

p {
    margin: 0;
    font-size: 19px;
    line-height: 30px;
    color: #878787;
    font-weight: 500;
}

.small_text {
    font-size: 16px;
    line-height: 25px;
}

.light_text {
    color: #fff;
}

.dark_text {
    color: #000;
}

.blue_text {
    color: #2C64E5;
}

.bg_dark {
    background-color: #1f1f1f;
}

.bg_grey {
    background-color: #BEBCBB;
}

.bg_dark_blue {
    background-color: #161c3b;
}

.bg_blue {
    background-color: #00439C;
}

ul {
    list-style: none;
}

a {
    text-decoration: none; 
}

.img_radius {
    border-radius: 19px;
}

.ps_navbar .dropdown-menu.show {
    display: flex;
    flex-wrap: wrap;    
}

.ps_navbar #navbarDropdown {
    color: #000;
}

.ps_navbar #navbarDropdown:hover {
    color: #2C64E5;
}

/* button */
button {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background-color: #2C64E5;
    padding: 8px 14px;
    border: none;
    border-radius: 50px;
    outline-color: #fff;
    outline-width: 1px;
    outline-style: none;
    outline-offset: -3px;
}

.button_colored {
    background-color: #CD3D0F;
    outline-color: #000;
    outline-width: 1px;
    outline-style: none;
    outline-offset: -3px;
}

.button_white_black {
    background-color: #fff;
    color: #000;
    outline-color: #000;
    outline-width: 1px;
    outline-style: none;
    outline-offset: -3px;
}

.button_black_white {
    background-color: #1f1f1f;
    outline-color: #fff;
    outline-width: 1px;
    outline-style: none;
    outline-offset: -3px;
}

.button_white_blue {
    background-color: #fff;
    color: #00439C;
}

.button_height {
    height: 40px;
}

/* button hover */
button:hover {
    outline-color: #fff;
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -3px;
    transition: all 0.5s;
}

.button_white_blue:hover {
    background-color: #fff;
    color: #00439C;
    box-shadow: 0px 0px 20px #d1dfff;
}

.button_colored:hover,
.button_white_black:hover {
    outline-color: #000;
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -3px;
    transition: all 0.5s;
}

.button_black_white:hover {
    outline-color: #fff;
    background-color: #878787;
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -3px;
    transition: all 0.5s;
}

.game_logo {
    width: 60%;
}

.banner_logo {
    width: 80%;
}


/* headtop */

.headtop {
    background-color: #000;
    height: 35px;
    padding: 3px 10px;
}

.headtop_logo {
    width: 80px;
}

/* NavBar */

.menu {
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index:1001;
}

/* Jumbotron */

.jumbotron {
    height: 600px;
    background: url(../img/jumbo-bg.png) no-repeat 50% 50%;
    background-size: cover;
}

.thumb_game:first-child img{
    outline: 2px #2C64E5 solid;
    border-radius: 15px;
    outline-offset: 3px;
}

.thumb_game {
    position: relative;
    top: 0;
    transition: all .5s;
}

.thumb_game:hover {
    top: -15px;
    transition: all .5s;
    
}

.item_play:first-child {
    border-bottom: 2px #2C64E5 solid;
}

.item_play {
    width: 230px;
    opacity: 1;
    cursor: pointer;
    transition: 0.5s;
}

.item_play:hover {
    opacity: 0.5;
}

/* Games */

.game_jumbo {
    margin-top: 65px;
    height: 600px;
    background: url(../img/it-takes-two-hero-banner-desktop.jpg) no-repeat 50% 50%;
    background-size: cover;
}

/* Nuove uscite */

.game_img,
.ps_store_deals,
.social_icon {
    transform: none;
    box-shadow: none;
    transition: all .2s ease-in-out;
}

.game_img:hover {
    transform: scale(0.9);
    box-shadow: 0px 0px 15px #d1dfff;
}

.ps_store_deals:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 30px #d1dfff;
}

.social_icon:hover {
    transform: scale(1.1);
}